<br><p>Quiénes somos ✨</p>

    <br><br><br>   <li>En Un Día a la Vez Deco creemos que cada detalle puede transformar un espacio y darle vida a los momentos más especiales.
Somos un emprendimiento apasionado por el arte y la decoración, especializado en piezas de fibrofácil y yeso, creadas con dedicación y amor por lo que hacemos.</li>

<br><li>Nuestro trabajo está pensado para revendedoras que buscan ofrecer productos únicos, de calidad y con un toque artesanal que enamora.</li>
<br><li>Cada creación nace de la inspiración y el compromiso por brindar artículos que no solo decoran, sino que cuentan una historia: la tuya.</li>

<br><li>Creemos en la importancia de trabajar un día a la vez, disfrutando cada paso del proceso creativo, y en compartir esa pasión con quienes confían en nosotros para llevar belleza a sus hogares y negocios.</li>

Porque decorar no es solo embellecer un espacio… es llenarlo de significado. 💛

<!-- Botón para volver al inicio -->
<br><br><button class="btn btn-primary" routerLink="/">Volver al menú principal</button>
