

<!-- PRODUCTOS CON SUS IMAGENES -->

<div class="productos-container">

<h1><p>Productos hechos con Amor y dedicación ...</p></h1>

    
    
      
    <br><br><div class="card-grid">
      <div class="card">
        <h3>Porta sahumerios</h3>
        <img src="assets/img/sahumerio2.jpg" alt="Porta Sahumerio 2">
        <p>Amor Fe Paz</p>
      </div>
  
      <div class="card">
    <h3>Porta Velas</h3>
        <img src="assets/img/porta1.jpg" alt="Porta Vela 1">
        <p>La vida es hoy</p>
      </div>
        <div class="card">
    <h3>Imágenes Caladas</h3>
        <img src="assets/img/calada2.jpg" alt="Imagen Calada 1">
        <p>Mandalas</p>
      </div>
        <div class="card">
    <h3>Imágenes Grabadas</h3>
        <img src="assets/img/calada1.jpg" alt="Imagen Grabada 1">
        <p>Surtidas</p>
      </div>
    </div>

    <!-- Botón para volver al inicio -->
<br><br><button class="btn btn-primary" routerLink="/">Volver al menú principal</button>
