
<p>Productos un dia a la vez</p>



<div class="productos-container">

    <h2>Porta Sahumerios alargados</h2>
    <div class="card-grid">
      <div class="card">
        <img src="assets/img/undia1.jpg" alt="Porta Sahumerio 1">
        <p>Porta Sahumerio Modelo 1</p>
      </div>
      <div class="card">
        <img src="assets/img/undia1.jpg" alt="Porta Sahumerio 2">
        <p>Porta Sahumerio Modelo 2</p>
      </div>
    </div>
  
    <h2>Porta Velas</h2>
    <div class="card-grid">
      <div class="card">
        <img src="assets/img/undia1.jpg" alt="Porta Vela 1">
        <p>Porta Vela Modelo 1</p>
      </div>
      <!-- más productos -->
    </div>
  
    <h2>Imágenes Caladas</h2>
    <div class="card-grid">
      <div class="card">
        <img src="assets/img/undia1.jpg" alt="Imagen Calada 1">
        <p>Imagen Calada Modelo 1</p>
      </div>
    </div>
  
    <h2>Imágenes Grabadas</h2>
    <div class="card-grid">
      <div class="card">
        <img src="assets/img/undia1.jpg" alt="Imagen Grabada 1">
        <p>Imagen Grabada Modelo 1</p>
      </div>
    </div>
  
  </div>
  