<!-- GRACIAS POR CADA TRABAJO -->

<div class="productos-container">

    <br><h1><p>Gracias por cada trabajo ...</p></h1>
    
      
        <br><br><div class="card-grid">
          
          <div class="card">
            <img src="assets/img/personalizado1.jpg" alt="Porta Sahumerio 2">
            <p></p>
          </div>
       
          
            <div class="card">
              <img src="assets/img/personalizado2.jpg" alt="Porta Sahumerio 2">
              <p></p>
            </div>
          
          
            <div class="card">
              <img src="assets/img/personalizado3.jpg" alt="Porta Sahumerio 2">
              <p></p>
            </div>
               
          
            <div class="card">
              <img src="assets/img/personalizado4.jpg" alt="Porta Sahumerio 2">
              <p></p>
            </div>
  
 
            <div class="card">
              <img src="assets/img/personalizado5.jpg" alt="Porta Sahumerio 2">
              <p></p>
            </div>
         
          
            <div class="card">
              <img src="assets/img/personalizado6.jpg" alt="Porta Sahumerio 2">
              <p></p>
            </div>
  
          
            <div class="card">
              <img src="assets/img/personalizado7.jpg" alt="Porta Sahumerio 2">
              <p></p>
            </div>
     
         
          <!-- Botón para volver al inicio -->
          <button class="btn btn-primary" (click)="volver()">Volver al menú principal</button>
